
.taskStatus {
    font-size: 14px;
    font-weight: bold;
    width: 80px;
}

@media only screen and (max-width: 640px) {
    .taskStatus {
        visibility: hidden;
    }
}


@media only screen and (max-width: 600px) {
    .taskResponsible {
        visibility: hidden;
    }
}

.panel {
    padding-left: 20px;
}

.taskTitle {
    font-size: 18px;
    min-width: 400px;
}

.resp {
    width: 70px;
}

.containerTask {
    display: flex;
}

.taskSegment {
    max-width: 600px;
}

.taskCheck {
    margin-top: 3px;
    margin-right: 10px;
}

.taskResponsible {
    padding-right: 5px;
    font-size: 14px;
    font-weight: bold;
    width: 80px;
}

.milestoneTitle {
    font-size: 18px;
    font-weight: bold;
}